$global-radious: 15px;

// Navbar
$navbar-background-color: rgb(221, 221, 221);
$navbar-icon-size: 28px;

// Feeds
$card-background-color: rgb(245, 245, 245);
$card-feed-title-font-size: 15px;
$card-feed-content-font-size: 10px;
