// Padding & margin
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 64px;
$spacing-xxl: 128px;

// Colors
$navbar-background-color: rgb(221, 221, 221);
$main-grey: rgb(245, 245, 245);
$main-azure: rgb(234, 242, 255);

// Cards
$card-padding: ($spacing-xs + $spacing-xxs);

// Global
$global-radius: 15px;

// Navbar
$navbar-icon-size: 28px;
$navbar-height: 10vh;

// Feeds
$card-feed-title-font-size: 15px;
$card-feed-content-font-size: 10px;
$card-margin: 30px;

// Animartions
$animation-duration: .5s;
$animation-duration-speed: .3s;

// Avatar
$avatar-normal: 70px !important;
$avatar-small: 45px !important;
$avatar-big: 120px !important;

// Box shadow from bulma
$global-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
