$global-radious: 15px;
$main-grey: rgb(245, 245, 245);

// Navbar
$navbar-background-color: rgb(221, 221, 221);
$navbar-icon-size: 28px;

// Feeds
$card-feed-title-font-size: 15px;
$card-feed-content-font-size: 10px;


$animation-duration: .6s;
