@import 'variables';
@import 'helpers';
@import 'mixins';
@import 'zindex';

// global styles
.avatar-normal {
  width: $avatar-normal;
}
.avatar-small {
  width: $avatar-small;
}
.avatar-big {
  width: $avatar-big;
}

.page-title {
  font-size: 40px;
  font-weight: 500;
}
